<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>openid-servlet</display-name>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>org.xsalefter.openidservlet.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.xsalefter.openidservlet.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>org.xsalefter.openidservlet.servlet.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.xsalefter.openidservlet.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectAfterLogin</servlet-name>
        <servlet-class>org.xsalefter.openidservlet.servlet.RedirectAfterLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectAfterLogin</servlet-name>
        <url-pattern>/redirect-after-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
